h1::first-letter {
  text-decoration: wavy underline red;
  font-size: 80px;
}

h1::after {
  content: " Technologies";
  color: aqua;
}

h1::selection {
  background-color: rgb(198, 16, 123);
  color: rgb(143, 234, 57);
}

p::first-line {
  text-transform: uppercase;
  text-decoration: dashed underline chartreuse;
}

input::placeholder {
  color: red;
}

div {
  border: 2px solid black;
  margin: 20px;
}

/* Pseudo-class */
/* div:nth-of-type(even) {
  background-color: aqua;
} */
div:nth-of-type(2n) {
  background-color: blueviolet;
}
div:nth-of-type(2n-1) {
  background-color: orange;
}
div:nth-of-type(7) {
  background-color: chartreuse;
}